<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="styles.css" />
  <title>Color Palette Generator</title>
</head>

<body>
  <main class="container"></main>
  <form id="form" class="form-palette">
    <div class="form-body">
      <input type="search" name="query" class="form-query" placeholder="Prompt response" required />
      <button type="submit" class="form-button">Submit</button>
    </div>

    <em class="form-hint">Enter a request, the colors of which you want to get, <br /> e.g. "Google brand colors"</em>
  </form>

  <script src="app.js"></script>
</body>

</html>